$TTL 604800
@       IN      SOA     {{ nameserver_default_zone }}. admin.{{ nameserver_default_zone }}. (
        {# TODO: find a better solution to count up serial #}
        {{ ansible_date_time.epoch }}      ; Serial
        604800          ; Refresh
        86400           ; Retry
        2419200         ; Expire
        604800 )        ; Negative Cache TTL

; NS records
@       IN      NS      {{ inventory_hostname }}.

; NS A records
{{ inventory_hostname }}.           IN      A       {{ nameserver_ip }}

; Other Hosts A records
{% for dns_record in dns_records %}
{{ dns_record.host }}.home.lab.       IN      {{ dns_record.type }}       {{ dns_record.ip }}
{% endfor %}